{% extends "base.html" %}


{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
               title="Upload excel file"
               name="excel_file"
               style="border: 1px solid black; padding: 5px;"
               required="required">
        <p>
            <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>

    <p></p>
    <hr>

    {% for item in list %}
        {{ item }}<br>
    {% endfor %}
{% endblock %}