{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/review.css" %}">
{% endblock extra_css %}

{% block content %}
    <br>
    <div class="review-question">
        {{ question|safe }}
        <div style="display:inline; margin-left: 42vw; vertical-align: middle">
            <a href="{% url 'index' %}">
                <div class="buttons">I'm done!</div>
            </a>
{#            <img src={% static "images/learning_character/clock.png" %} class="clock">#}
            {% if correct != -1 %}
                <form method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input class="next" type="image" src="{% static "images/learning_character/next.png" %}">
                </form>
            {% endif %}
        </div>
        <br>
    </div>
    <div class=answers>
        <br><br><br><br>
        <form method="POST">
            {% csrf_token %}
            {% for choice in choices %}
                <button name="choice" type="submit" value="{{ forloop.counter0 }}" class="button"
                        {% if forloop.counter0  == correct %}style="background-color: green"
                        {% elif forloop.counter0  == incorrect %}style="background-color: red"{% endif %}>
                    {{ choice }}
                </button>
            {% endfor %}
        <button name="choice" type="submit" value="-1" class="button">
            I don't know
        </button>
        </form>
        <br><br><br>
{#        <img src={% static "images/review_interface/allotted-time.png" %} style="width:50vw">#}
    </div>
    <br><br>
{% endblock %}