:root {
    --color-accent-correct: #54A21E;
    --color-accent-incorrect: #ff6300;
}

.question-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 65vh;
    overflow: hidden;
    margin: auto;
    padding-top: 50px;
}

.question-text-field {
    width: 200px;
    height: 2em;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    border: none;
    text-align: center;

    font-size: 1.5em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-bottom: 2px solid #bec0c4;
    background-color: #ebebeb;

    transition: all ease-in-out 200ms;
}

.question-text-field:focus {
    outline: none;
}

.question-text-field.correct {
    border-color: var(--color-accent-correct);
}

.question-text-field.incorrect {
    border-color: var(--color-accent-incorrect);
}

button.choice-button  {
    border: 1px solid var(--secondary-text);
    border-radius: 5px;

    color: var(--secondary-text);
    background-color: transparent;
    font-size: 1em;

    margin: 5px auto;
    padding: 7px 35px;

    transition: all 250ms ease-in-out;
}

button.choice-button:focus {
    outline: none;
}

button.choice-button.active {
    background-color: var(--main-theme-color);
    border: 1px solid transparent;
    color: white;
}

button.choice-button.active:hover {
    background-color: var(--main-theme-color);
}

button.choice-button.correct {
    background-color: var(--color-accent-correct);
    border: 1px solid transparent;
    color: white;
}

button.choice-button.correct:hover {
    background-color: var(--color-accent-correct);
}

button.choice-button.incorrect {
    background-color: var(--color-accent-incorrect);
    border: 1px solid transparent;
    color: white;
}

button.choice-button.incorrect:hover {
    background-color: var(--color-accent-incorrect);
}

button.choice-button:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

/* CND */
button.cndIncorrect {
    background-color: #ff6300;
    color: white;
}

button.cndCorrect {
    background-color: #54A21E;
    color:#ebebeb;
}

p.cndCorrect {
    color:#54A21E;
    text-align: center;
}

p.cndIncorrect {
    color:#ff6300;
    text-align: center;
}