{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["module-resolver", {
            "alias": {
                "@learning.components": "./frontend/src/learning/components",
                "@learning.hooks": "./frontend/src/learning/hooks",
                "@interfaces": "./frontend/src/interfaces"
            }
        }]
    ]
}
