{
    "presets": [
        "@babel/preset-env", "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["module-resolver", {
            "alias": {
                "@ItemDisplay": "./frontend/src/learning/components/ItemDisplay"
            }
        }]
    ]
}
