**/.DS_Store
.idea/
jiezi/.idea/
jiezi/jiezi/__init__.py
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
jiezi/.idea/workspace.xml
jiezi/accounts/__pycache__/urls.cpython-37.pyc
jiezi/accounts/__pycache__/views.cpython-37.pyc
jiezi/learning/__pycache__/urls.cpython-37.pyc
jiezi/learning/__pycache__/views.cpython-37.pyc
jiezi/accounts/__pycache__/admin.cpython-37.pyc
jiezi/accounts/__pycache__/models.cpython-37.pyc
jiezi/accounts/__pycache__/urls.cpython-37.pyc
jiezi/accounts/__pycache__/views.cpython-37.pyc
jiezi/learning/__pycache__/models.cpython-37.pyc
jiezi/learning/__pycache__/views.cpython-37.pyc
jiezi/learning/__pycache__/urls.cpython-37.pyc
