{% extends "base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href='{% static "styles/userDashboard.css" %}'>
<link rel='stylesheet' type="text/css" href='{% static "styles/dashboard.css" %}'>
{% endblock css %}


{% block title %}Solved | Dashboard{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-sm-2" id="sidebar-container">
            <div class="row d-none d-sm-flex" id="sidebar-user">
                <img src="/static/images/userDashboard/defaultUserPhoto.svg" class="round_icon col-12 col-md-4">
                <h5 class="col-12 col-md-8 align-self-center text-center" id="sidebar-info" >{{ user.username }}<br>
                    <small>{{ user.email }}</small>
                </h5>
            </div>
            {% if user.is_staff %}
                <a class="row sidebar-item" href="/accounts/dashboard?active=Staff">
                    <img src="/static/images/userDashboard/setting.svg"><p class="align-items-center d-none d-md-flex">Staff Panel</p>
                </a>
            {% endif %}
            <a class="row sidebar-item" href="/accounts/dashboard?active=Dashboard">
                <img src="/static/images/userDashboard/dashboard.svg"><p class="align-items-center d-none d-md-flex">Dashboard</p>
            </a>
            <a class="row sidebar-item" href="/accounts/dashboard?active=Profile">
                <img src="/static/images/userDashboard/profile.svg"><p class="align-items-center d-none d-md-flex">Profile</p>
            </a>
            <a class="row sidebar-item" href="/accounts/dashboard?active=Preference">
                <img src="/static/images/userDashboard/setting.svg"><p class="align-items-center d-none d-md-flex">Preference</p>
            </a>
        </div>
        <div class="offset-1 offset-sm-2 col-11 col-sm-10">
            {% if active == "Staff" %}
                <div class="dashboard-container">
                    <h1>Staff Panel</h1>
                    <hr/>
                    <div class="row align-items-center justify-content-around">
                        <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'update_entry' %}" target="_blank">
                            <img src="/static/images/userDashboard/logo-color-mark-sq.png">
                            <h5> Update Entry </h5>
                        </a>
                        <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'update_media' %}">
                            <img src="/static/images/userDashboard/Google_Drive_logo.png">
                            <h5> Update Media </h5> 
                        </a>
                        <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'media_update_status' %}">
                            <img src="/static/images/userDashboard/Check.png">
                            <h5> Check Update Status </h5>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if active == "Dashboard" %}
                <div class="dashboard-container">
                    <h1>Dashboard</h1>
                    <hr/>
                    <div class="card-container">
                        <h2>Summary
                        <small>Last Study</small>
                        </h2>
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-6 col-lg-3 stat-text">
                                    <h5>Last Studied</h5>
                                    <p class='big-stat' id="last-study-date">loading</p>
                                    <p><strong id="last-study-date-unit">minutes ago</strong></p>
                                <hr class="d-block d-lg-none">
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 stat-text">
                                <h5>Total Length</h5>
                                <p class='big-stat'>
                                    <script> document.write(({{ user.last_study_duration.seconds }} / 60).toFixed(1)); </script>
                                </p>
                                <p><strong>minutes</strong></p>
                                <hr class="d-block d-lg-none">
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 stat-text">
                                <h5>Vocab Learned</h5>
                                <p class='big-stat'>
                                    {{ user.last_study_vocab_count }}
                                </p>
                                <hr class="d-block d-lg-none">
                            </div>
                        </div>
                    

                    </div>
                    <div class='card-container' id='study-container'>
                        <h2>Select Duration</h2>
                        <div id='slider-bar'>
                          <div id='slider-activated'></div>
                          <div class='slider-value value-activated' data-value='1' data-width-percent='0'
                               style='margin-left: calc(0% - 10px);'></div>
                          <div class='slider-value' data-value='5' data-width-percent='8.333'
                               style='margin-left: calc(8.333% - 10px);'></div>
                          <div class='slider-value' data-value='15' data-width-percent='25'
                               style='margin-left: calc(25% - 10px);'></div>
                          <div class='slider-value' data-value='30' data-width-percent='50'
                               style='margin-left: calc(50% - 10px);'></div>
                          <div class='slider-value' data-value='45' data-width-percent='75'
                               style='margin-left: calc(75% - 10px);'></div>
                          <div class='slider-value' data-value='60' data-width-percent='100'
                               style='margin-left: calc(100% - 10px);'></div>
                          <p id='slider-value-text'>1&#8239;min</p>
                        </div>
                        <a href="{% url 'display_character' 1 %}" class='button button-primary' id='study-button'>Study Now</a>
                    </div>
                    <div class="card-container">
                        <h2>Overview
                        </h2>

                    </div>
                </div>
            {% elif active == "Profile" %}
                <div class="dashboard-container">
                    <h1>
                        Profile
                        <small>{{ user.username }}</small>
                    </h1>
                    <hr/>
                    <form class="row" id="form" action="{% url 'alt_profile' %}" method="POST">
                        {% csrf_token %}
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><strong>Username</strong></label>
                                    <input name="username" class="form-control" size="1" type="text" value="{{ user.username }}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label><strong>Email</strong></label>
                                    <input type="hidden" name="u_email" value="{{ user.email }}">
                                    <input name="email" class="form-control" size="1" type="email" value="{{ user.email }}" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label><strong>First Name</strong></label>
                                    <input type="hidden" name="u_first_name" value="{{ user.first_name }}">
                                    <input name="first_name" class="form-control" size="1" type="text" value="{{ user.first_name }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label><strong>Last Name</strong></label>
                                    <input type="hidden" name="u_last_name" value="{{ user.last_name }}">
                                    <input name="last_name" class="form-control" size="1" type="text" value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="hidden" name="u_cn_level" value="{{ user.cn_level }}">
                                    <label><strong>Your Chinese Level</strong></label>
                                    <select class="form-control" name="cn_level">
                                        <option {% if user.cn_level == "Proficient" %} selected {% endif %}>Proficient</option>
                                        <option {% if user.cn_level == "Intermediate" %} selected {% endif %}>Intermediate</option>
                                        <option {% if user.cn_level == "Elementary" %} selected {% endif %}>Elementary</option>
                                        <option {% if user.cn_level == "Beginner" %} selected {% endif %}>Beginner</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p onclick="checkForm()" class="button button-primary" id="submit-button">Submit</p>
                    </form>
                    <br>
                    <div class="alert alert-success" id="success-alert" style="visibility:hidden;">
                        Success!
                    </div>
                </div>
            {% elif active == "Preference" %}
                <div class="dashboard-container">
                    <h1>
                        Preference
                    </h1>
                    <hr/>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_script %}
<script src='{% static 'scripts/dashboard.js' %}'></script>
<script>

let date = new Date();
let strYear = date.getUTCFullYear();
let strMonth = date.getUTCMonth()+1;
let strDate = date.getUTCDate();
let strHour = date.getUTCHours();
let strMin = date.getUTCMinutes();

if (strYear - {{ user.last_study_time.year }} > 0) {
    $("#last-study-date").html(strYear - {{ user.last_study_time.year }});
    $("#last-study-date-unit").html("Years ago");
} else if (strMonth - {{ user.last_study_time.month }} > 0) {
    $("#last-study-date").html(strMonth - {{ user.last_study_time.month }});
    $("#last-study-date-unit").html("Months ago");
} else if (strDate - {{ user.last_study_time.day }} > 0) {
    $("#last-study-date").html(strDate - {{ user.last_study_time.day }});
    $("#last-study-date-unit").html("Days ago");
} else if (strHour - {{ user.last_study_time.hour}} > 0) {
    $("#last-study-date").html(strHour - {{ user.last_study_time.hour }});
    $("#last-study-date-unit").html("Hours ago");
} else if (strMin - {{ user.last_study_time.minute}} > 0) {
    $("#last-study-date").html(strMin - {{ user.last_study_time.minute }});
    $("#last-study-date-unit").html("Minutes ago");
} else {
    $("#last-study-date").html("");
    $("#last-study-date-unit").html("Less than a Minute ago");
}
    
</script>
{% endblock %}