{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/manage_library.css" %}">
{% endblock css %}


{% block content %}
  <a class="header-back-button" href="/"><i class="far fa-angle-left"></i>Dashboard</a>
  <h1>Vocab List Management</h1>

  <div class="page-mask" style="display: none"></div>

  <div class="modal" id="add-new-set-modal" style="display: none">
    <div class="modal-header">
      <h2>Add New Set</h2>
      <i class="far fa-times modal-close-button"></i>
    </div class="modal-header">
    <div class="modal-content" id="available-sets-container"></div>
  </div>

  <div id="char-sets-container">
    {% for set in request.user.user_character_tags.all %}
      <div class="char-set" data-set-pk="{{ set.pk }}">
        <img class="char-set-cover" src="/static/images/set-covers/default-set-cover.jpg"></img>
        <p class="char-set-title">{{ set.name }}</p>
      </div>
    {% endfor %}
    <div class="char-set" id="add-set-button-container">
      <i class="fal fa-plus" id="add-set-button"></i>
      <p class="char-set-title">Add New Set</p>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "scripts/manage_library.js" %}"></script>
{% endblock js %}