{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/manage_library.css" %}">
{% endblock css %}


{% block content %}
  <a class='header-back-button' href='/'><i class='far fa-angle-left'></i>Dashboard</a>
  <h1>Vocab List Management</h1>

  <div id='char-sets-container'>
    <div class='char-set'>
      <img class='char-set-cover' src='/static/images/set-covers/default-set-cover.jpg'></img>
      <p class='char-set-title'>Integrated Chinese Class 1 Lv 1</p>
    </div>
    <div class='char-set'>
      <img class='char-set-cover' src='/static/images/set-covers/default-set-cover.jpg'></img>
      <p class='char-set-title'>Integrated Chinese Class 1 Lv 2</p>
    </div>
    <div class='char-set'>
      <img class='char-set-cover' src='/static/images/set-covers/default-set-cover.jpg'></img>
      <p class='char-set-title'>Family Members</p>
    </div>
    <div class='char-set'>
      <img class='char-set-cover' src='/static/images/set-covers/default-set-cover.jpg'></img>
      <p class='char-set-title'>Numbers</p>
    </div>
    <div class='char-set' id='add-set-button-container'>
      <i class='fal fa-plus' id='add-set-button'></i>
      <p class='char-set-title'>Add New Set</p>
    </div>
  </div>
{% endblock content %}

{% block extra_script %}
  <script src="{% static "scripts/manage_library.js" %}"></script>
{% endblock %}