{% extends "base.html" %}
{% load static %}

{% block css %}
  <!-- Temporary Bootstrap reference -->
  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static "styles/manage_set.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "styles/character.css" %}">
{% endblock css %}

{% block external-lib %}
  <!-- Temporary Bootstrap reference -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
  <a class="header-back-button" href="/accounts/manage_library/"><i class="far fa-angle-left"></i>Manage Vocab Sets</a>
  <h1>{{ set.name }}<i class='delete-set-button far fa-trash-alt' data-set-id={{ set.id }}></i></h1>

  <div id="page-content-container">

    <div class="chars-container">
      {% for uc in set.user_characters.all %}
        {% with char=uc.character %}
          <div class="char" data-char-id={{ char.id }}>
            <div class='character-preview character-preview-small'>
              <p class='character character-kai character-small'>
                {{ char.chinese }}
              </p>
            </div>
            <span class="char-pinyin">{{ char.pinyin }}</span>
            <i class="delete-char-button far fa-trash-alt"></i>
          </div>
        {% endwith %}
      {% endfor %}
    </div>

    <div id="character-container-wrapper">
      {% for uc in set.user_characters.all %}
        {% with char=uc.character %}
          <div class="card-container" style="display: none">
            <div class="character-card-container" data-char-id={{ char.id }}>
              <div class="character-info-container">
                <div class='character-preview' style="background-image: url({% get_static_prefix %}images/char-structures/{{ char.structure }}.svg)">
                  <p class='character character-kai character-large'>
                    {{ char.chinese }}
                  </p>
                  <div class='character-stroke-image' style="background-image: url(/media/{{ char.stroke_order_image }})"></div>
                </div>
                <div class="definitions-container">
                  <h2>Definitions</h2>
                  <ol class="character-definitions-list">
                    <li class="character-definition">{{ char.definition_1 }}</li>
                    {% if char.definition_2 %}
                      <li class="character-definition">{{ char.definition_2 }}</li>
                    {% endif %}
                    {% if char.definition_3 %}
                      <li class="character-definition">{{ char.definition_3 }}</li>
                    {% endif %}
                  </ol>
                </div>
                <div>
                  <h2>Examples</h2>
                  <p><strong>{{ char.example_1_word }}</strong> ({{ char.example_1_pinyin.strip }}): {{ char.example_1_meaning }} (<i>{{ char.example_1_character.strip }}</i>)</p>
                  {% if char.example_2_word %}
                    <p><strong>{{ char.example_2_word }}</strong> ({{ char.example_2_pinyin.strip }}): {{ char.example_2_meaning }} (<i>{{ char.example_2_character.strip }}</i>)</p>
                  {% endif %}
                </div>
              </div>

              <div class="character-radicals-container">
                <h2>Radicals</h2>
                <div class="radicals-breakdown-container" data-radical-ids="{{ char.radical_1_id }} {{ char.radical_2_id }} {{ char.radical_3_id }}"></div>
                <p class="breakdown-caption">{{ char.mnemonic_explanation | linebreaks }}</p>
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>

  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "scripts/manage_set.js" %}"></script>
{% endblock js %}
