{% extends "base.html" %}
{% load static %}

{% block title %}Profile | Solved Chinese{% endblock title %}


{% block content %}
  <a class="header-back-button" href="/"><i class="far fa-angle-left"></i>Dashboard</a>
  <h1>Profile</h1>

  {% if success %}
    <div class="alert alert-success" id="success-alert">
      Success!
    </div>
  {% endif %}

  <form class="row" id="form" method="POST">
    {% csrf_token %}
    <div class="col-12">
      {% include "accounts/combined_forms.html" with combined_forms=forms %}
      <button type="submit" class="button button-primary mt-4">
        Update Profile
      </button>
    </div>
  </form>

{% endblock %}
