{% extends 'base.html' %} {% load static %} {% load django_bootstrap_breadcrumbs
%} {% block breadcrumbs %} {{ block.super }} {% breadcrumb "Home" "index" %} {%
breadcrumb "Sign Up" "signup" %} {% if role == 'student' %} {% breadcrumb "Sign
Up as a Student" "" %} {% else %} {% breadcrumb "Sign Up as a Teacher" "" %} {%
endif %} {% endblock %} {% block css %} <link rel='stylesheet' href='{% static
'styles/signup.css' %}'> {% endblock css %} {% block title %}Sign Up as a {{
role }} | Solved Chinese{% endblock title %} {% block content %}
<form method="post" autocomplete="off">
  {% csrf_token %} {% include "utils/combined_forms.html" with
  combined_forms=forms %}
  <br />
  <button class="button button-primary" type="submit">Sign up</button>
</form>
<br />
{% endblock %}
