{% extends "base.html" %}
{% load static %}

{% block title %}Profile | Solved Chinese{% endblock title %}


{% block content %}
  <a class="header-back-button" href="/"><i class="far fa-angle-left"></i>Dashboard</a>
  <h1>Staff Panel</h1>

  <div class="row align-items-center justify-content-around">
    <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'update_entry' %}" target="_blank">
      <img src="{% static "images/userDashboard/logo-color-mark-sq.png" %}">
      <h5> Update Entry </h5>
    </a>
    <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'update_radical_mnemonic_image' %}">
      <img src="{% static "images/userDashboard/Google_Drive_logo.png" %}">
      <h5> Update Radical Mnemonic Image </h5>
    </a>
    <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="{% url 'update_character_animated_stroke_order_image' %}">
      <img src="{% static "images/userDashboard/Google_Drive_logo.png" %}">
      <h5> Update Character Animated Stroke Order Image </h5>
    </a>
    <a class="col-9 col-md-5 col-xl-3 card-container image-box-wrapper" href="/admin/learning/report/" target="_blank">
      <img src="{% static "images/userDashboard/logo-color-mark-sq.png" %}">
      <h5> View Report </h5>
    </a>
  </div>
{% endblock %}

{% block js %}
  <script src="{% static "scripts/profile.js" %}"></script>
{% endblock js %}
