{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock extra_css %}
{% block title %}overideTitle{% endblock title %}

{% block content %}
    <div class="titleUpdate">About Us</div>
    <table style="margin: 0 auto;text-align: left;table-layout:fixed">
        <tr>
            <td class="historyUpdate">
                <div class="catoUpdate"> About Us</div>
                <hr>
                <div class="catoUpdate"> The Science Behind</div>
                <hr>
                <div class="catoUpdate"> Help</div>
                <hr>
                <div class="catoUpdate"> Support Us</div>
            </td>
            <td class=contentUpdate>
                <div class=subTitle>Our 10th Anniversary!</div>
                <div style="color: #5E5E5E;font-size: 15px; padding-bottom: 10px;padding-top: 10px">Nov 10, 2018
                </div>
                The founder of the Funny Movie Corporation (FMC [China]), Zihan (Hans) Wu, first started the idea of
                establishing a filmmaking company in November, 2008. The company was established in 2011, and Julian
                Zhao, one of Hans&rsquo;s best friends in China, was the first member of FMC [China]. The first
                series of comedy show was released in 2012. The team also produced several videos for the Branch
                School of the High School Affiliated to Remin University of China from 2012 to 2015.
                <br><br>
                FMC [China] signed the first contract in regard to the production of a promotional video with
                another company in the summer of 2015. After our first professional production, &ldquo;FMC Summer&rdquo;
                was launched, and the company began working with different Chinese companies during school
                vacations. In December, 2015, three months after Hans came to America for high school, FMC [U.S.]
                was founded. Grant Gattuso became the co-founder and the Human Resource Department (later on the
                COO) for FMC. The first version of FMC [U.S] branded notebooks was created in 2016, the first series
                of branded USB drives was created in 2017, and the first set of branded stickers was created in
                2018. In the past three years, FMC [U.S] has also been helping St. Mark&rsquo;s School and local
                organizations with their video production needs.
                <br><br>
                To celebrate the 10th (unofficial) birthday of FMC, we created this gorgeous website and launched
                the Film Forensik magazine and the SMART platform. All members of FMC will keep bringing the company
                to a whole new level, and we will continue to provide high quality video and audio services for
                everyone!
            </td>

        </tr>
    </table>


    <br><br><br><br><br>
    <br><br><br><br><br>
{% endblock content %}


