{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
{% endblock extra_css %}
{% block title %}overideTitle{% endblock title %}

{% block content %}
    <div class="titleUpdate">About Us</div>
    <table style="margin: 0 auto;text-align: left;table-layout:fixed">
        <tr>
            <td class="historyUpdate">
                <div class="catoUpdate"> About Us</div>
                <hr>
                <div class="catoUpdate"> The Science Behind</div>
                <hr>
                <div class="catoUpdate"> Help</div>
                <hr>
                <div class="catoUpdate"> Support Us</div>
            </td>
            <td class=contentUpdate>
                <div style="color:#B62C25; font-size:3vw"> What is Solved?</div>
                For native English speakers, remembering the form and pronunciation of Chinese characters can be hard.
                Solved is here to make it easier, more fun and more meaningful -- we tell the vivid stories and explain
                the clever rules behind the formation of these characters. This method, called radical breakdown, has
                been theoretically and experimentally shown to effective in learning Chinese characters by many studies.
                <br><br>
                Solved incorporates ancient wisdoms with modern technology. It is research-based, individualized,
                engaging, user-friendly, and free! Read more about the art and science behind it here.
                <br><br>
                <div style="color:#B62C25; font-size:3vw"> The Team</div>
                We are a group of Chinese high schoolers passionate about linguistics and education. We attend schools
                in China, the U.S., Costa Rica, and Singapore.
                <br><br>
                We’d love to hear any questions or comments, and we are seeking more volunteers to help improve and
                expand this project. Please feel free to contact us at contact@solvedchinese.org

            </td>

        </tr>
    </table>


    <br><br><br><br><br>
    <br><br><br><br><br>
{% endblock content %}


