{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="{% static "js/bootbox.all.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href={% static "css/base.css" %}>

    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %}Solved Chinese{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "images/base/logo_icon.png" %}"/>
</head>

<body>
<div class="header">
    <a href={% url 'index' %}>
        <img src="{% static "images/base/logo.png" %}" style="padding-left:3vw; height:4vw; vertical-align:middle">
    </a>
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">
            <span style="vertical-align: middle; margin-left: 75vw; font-size:1.4vw;">{{ user.username }}</span>
        </a>
    {% else %}
        <!-- add the login span id to id="login" if want to do pop up page for login -->
        <a href="{% url 'login' %}">
            <span style="vertical-align: middle; margin-left: 65vw; font-size: 1.2vw;">
                Log in
            </span>
        </a>
        <a href="{% url 'signup' %}">
                <span style="background-color: #B62C25;color: white; margin-left:3vw; font-size: 1.2vw; padding:0.68vw 0.68vw 0.68vw 0.68vw;vertical-align: middle;">
                    Sign up
                </span>
        </a>
    {% endif %}
</div>

<div style="min-height: 37vw;">
    {% block content %}
        Nothing here<br>
        Reload this<br>
    {% endblock content %}
</div>


<div class="footer">
    <a href={% url 'index' %}>
        <img src="{% static "images/base/logo.png" %}" style="padding-left:3vw; height:4vw; vertical-align:middle">
    </a>
    <a href="{% url 'about_us' %}" style="vertical-align: middle; margin-left: 30vw; ">
        About Us
    </a>
    <img src={% static "images/base/seperater.png" %}  class=seperater>
    <span style="vertical-align: middle">The Science Behind</span><img
        src={% static "images/base/seperater.png" %} class=seperater>
    <span style="vertical-align: middle">Help</span><img src={% static "images/base/seperater.png" %} class=seperater>
    <a href="mailto:solvedchinese@gmail.com"><img src="{% static "images/base/mail.png" %}" style="vertical-align: middle; width: 2vw; margin-right: 3vw"></a>
    <span style="font-size: 1vw; vertical-align: middle"> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>&nbsp;&nbsp;&nbsp;2019 Solved</span>
</div>

{#    <div id="login-page" class="login-modal">#}
{#	  <div class="login-content">#}
{#	    <span class="close">&times;</span>#}
{#	    <p> Log in:</p>#}
{#	    <input type="text" id="mail" name="email" class="input-content" placeholder="Email">#}
{#	    <input type="text" id="password" name="password" class="input-content" placeholder="Password">#}
{#	    <div style="font-size: 1vw">Forgot Your Password?</div>#}
{#	    <button class="login-button">Log in</button>#}
{#	  </div>#}
{#	</div>#}
{#	<script>#}
{#	// Get the modal#}
{#	var modal = document.getElementById('login-page');#}
{##}
{#	// Get the button that opens the modal#}
{#	var btn = document.getElementById("login");#}
{##}
{#	// Get the <span> element that closes the modal#}
{#	var span = document.getElementsByClassName("close")[0];#}
{##}
{#	// When the user clicks the button, open the modal#}
{#	btn.onclick = function() {#}
{#	  modal.style.display = "block";#}
{#	}#}
{##}
{#	// When the user clicks on <span> (x), close the modal#}
{#	span.onclick = function() {#}
{#	  modal.style.display = "none";#}
{#	}#}
{##}
{#	// When the user clicks anywhere outside of the modal, close it#}
{#	window.onclick = function(event) {#}
{#	  if (event.target == modal) {#}
{#	    modal.style.display = "none";#}
{#	  }#}
{#	}#}
{#	</script>#}
</body>
</html>