<!-- TODO: change this file to what it actually should be -->
{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- <script src='/static/scripts/vue.js'></script> -->

  <link rel='stylesheet' href='https://pro.fontawesome.com/releases/v5.8.1/css/all.css'
        integrity='sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1'
        crossorigin='anonymous'>

  <link rel='stylesheet' href="{% static 'styles/main.css' %}">
  <link rel="shortcut icon" href="/static/images/favicon.ico" />
  <script src='https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js'
          integrity='sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=' crossorigin='anonymous'></script>
  <script src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js'
          integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>
  {% block css %}{% endblock css %}

  {% block js %}{% endblock js %}

  <title>{% block title %}Solved{% endblock title %}</title>
</head>

<body>
<!--TODO header needs to be divided into registered user / non-registered users-->
<header class='full-width-bg-container' id='navbar-bg'>
  <div class='card-container' id='navbar-container'>
    <div class='main-content-container' id='navbar'>
      <a class='logo' href="{% url 'index' %}"></a>
      {% if user.is_authenticated %}
        <a class='username' href="{% url 'dashboard' %}">{{ user.username }}</a>
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
      {% endif %}
    </div>
  </div>
</header>

<div class='main-content-container' id='page-container'>
  {% block content %}THIS SHOULD DEFINITELY BE IMPLEMENTED{% endblock content %}
</div>

<footer class='full-width-bg-container' id='footer-bg'>
  <div class='main-content-container' id='footer'>
    <p>FOOTER NEEDS TO BE IMPLEMENTED</p>
  </div>
</footer>
</body>
<script src="{% static 'scripts/main.js' %}"></script>
{% block extra_script %}{% endblock %}
</html>
