{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
{% endblock extra_css %}

{% block content %}
    <ul>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">admin</a></li>
                <li><a href="{% url 'view_character' 1 %}">learning_character</a></li>
            {% endif %}

            <div class="title">
                <br>Welcome Back!
                <div style="display:inline-block; float:right; padding-right:4vw; vertical-align: middle">
                    <span class="stack-button" style="color: #979797">My classroom</span>
                    <a href={% url 'manage_stack' %}>
                        <span class="stack-button">Manage my vocab list</span>
                    </a>
                </div>
            </div>
            <br><br>
            <div class="overview">
                <div class="time-overview">
                    <span style="color: #B62C25"> 0</span> hrs &nbsp;&nbsp;
                    <span style="color: #B62C25"> {% get_user_learned_character_cnt request.user %} </span> characters
                </div>
                <div class="time-detail">
                    Feb.&nbsp;
                    <img src="{% static "images/frontpage/blocks.png" %}" style="width:12.5vw; vertical-align:middle">
                    &nbsp;&nbsp; Streak: <span style="color: #B62C25"> 0</span> days
                </div>
                <div class="last-time">
                    Last time you studied for <span style="color: #B62C25"> 0 </span>mins
                </div>
            </div>
            <div class=study-time>
                <br><br>
                {% if user.user_characters.count == 0 %}
                    <div style="font-size: 4vw;font-weight: bold;color:black;margin-top: 1vw">
                        Currently no character in vocab list
                    </div>
                    <div style="font-size: 2vw;margin-top: 1vw">
                        Please go to <span
                            style="border:0.1vw solid #B62C25; padding:0.5vw 1vw 0.5vw 1vw; font-size:1.5vw">Manage my vocab list</span>
                        page to add some characters.
                    </div>
                {% else %}
                    <div style="color:black;font-size: 4vw">I want to study for:</div>
                    <br>
                    <a href="{% url 'start_learning' 2 %}"><span class="button">2 min</span></a>
                    <a href="{% url 'start_learning' 5 %}"><span class="button">5 min</span></a>
                    <a href="{% url 'start_learning' 10 %}"><span class="button">10 min</span></a>
                    <a href="{% url 'start_learning' 15 %}"><span class="button">15 min</span></a>
                    <a href="{% url 'start_learning' 20 %}"><span class="button">20 min</span></a>

                    <br><br><br>
                {% endif %}
            </div>
        {% else %}
            <br><br>
            <div style="position:relative; padding-left:3vw;">
                <img src="{% static "images/frontpage/logo_fancy.png" %}" style="width:40vw;vertical-align: middle;">
                <img style="width:50vw;height: 27vw; vertical-align: middle"
                     src="{% static "images/frontpage/video.png" %}"
                     data-video="http://www.youtube.com/embed/UBG3UF9fCDE?autoplay=1" id="video_image">
            </div>
            <br>
            <div style="padding-left: 7vw; positon:relative">
                <div style="display: inline-block;position: relative;width:23vw;padding-right: 3vw">
                    <div style="font-size:5vw">Look</div>
                    <div style="font-size:5vw;color:#B62C25">Inside ></div>
                    Feature:<br>
                    -Radical Breakdown<br>
                    -Spaced Repetition<br>
                    -Animated Stroke Order<br>
                    -Visual Chunking<br>
                    -Color Coding<br>
                </div>
                <div style="display: inline-block;position:absolute;width:70%; height:60%">
                    <div id="slideshow">
                        <div>
                            <img src="{% static "images/frontpage/slide1.png" %}" style="width:60vw">
                        </div>
                        <div>
                            <img src="{% static "images/frontpage/slide2.png" %}" style="width:60vw">
                        </div>
                        <div>
                            <img src="{% static "images/frontpage/slide3.png" %}" style="width:60vw">
                        </div>
                        <div>
                            <img src="{% static "images/frontpage/slide4.png" %}" style="width:60vw">
                        </div>
                    </div>

                    <a href={% url 'signup' %}>
                        <img src="{% static "images/frontpage/signup.png" %}"
                             style="position:absolute; top:75%;left:65%; width:15vw;">
                    </a>
                </div>
            </div>
            <br><br>
        {% endif %}
    </ul>
    <br><br><br>
{% endblock content %}
