{% extends "base.html" %}

{% block title %}overideTitle{% endblock title %}

{% block content %}
    <ul>
        {% if user.is_authenticated %}
            <li>you are {{ user.username }}</li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">log out</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">admin</a></li>
            {% endif %}
        {% else %}
            <li>you are not logged in<br></li>
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
            <li><a href="{% url 'signup' %}?next={{ request.path }}">signup</a></li>
        {% endif %}
    </ul>
    <br><br><br><br><br>
    <br><br><br><br><br>
{% endblock content %}
