{% extends "base.html" %}
{% load static %}

{% block meta %}
<meta content="{{ character.pk }}" name="pk">
{% endblock meta %}

{% block css %}
  <link rel='stylesheet' href="{% static 'styles/learn.css' %}">
  <link rel='stylesheet' href="{% static 'styles/character.css' %}">
{% endblock css %}

{% block external-lib %}
  <script src="https://cdn.jsdelivr.net/npm/howler@2.1.2/dist/howler.min.js"
          integrity="sha256-El7dyxdVp1e1v0xgjrrpzr5+BO29pwP0Qfl40VDffiI=" crossorigin="anonymous"></script>
{% endblock %}

{% block js %}
  <script>
    $('#report-bug-form').on('submit', e => {
        $('#report-bug-modal').modal('hide');
    });

    window.onload = function() {
      document.getElementById("audio").play();
    }
  </script>
{% endblock js %}

{% block title %}Learning | Solved Chinese{% endblock title %}


{% block content %}
  <div id='learn-header-container'>
    <h1 id='character-text'>{{ character.chinese }}</h1>

    <audio id="audio">
      <source src="{{ character.pinyin_audio }}" type="audio/mpeg">
      You browser doesn't support audio
    </audio>
    <span id='character-pinyin'>{{ character.pinyin }}
      <i class='fas fa-volume' id='speak-button'
         onclick='document.getElementById("audio").play()'></i>
    </span>


    <!-- This if doesn't really make sense -->
    {% if is_next %}
      <form method='GET'>
        {% csrf_token %}
        <input type='submit' class='button button-primary' id='next-button' value='Next'>
      </form>
    {% else %}
      <a class='button button-primary' id='next-button' href='{% url 'display_character' character.pk|add:"1" %}'>
        Next
      </a>
    {% endif %}

    <!-- We need to think about what the following buttons do -->
{#    <form method='post'>#}
{#      <input type='hidden' name='i_know_this' value='true'>#}
{#      <input type='hidden' name='character_pk' value='{{ character.pk }}'>#}
{#      <input type='submit' class='button button-secondary' value='I Know This'>#}
{#    </form>#}

    <a class='button button-secondary' id='end-session-button' href='{% url 'index' %}'>
      End Session
    </a>
    <button class='button button-tertiary' data-toggle='modal' data-target='#report-bug-modal'>Report</button>
  </div>

  <div class='card-container' id='learn-body-container'>

    <div class='character-card-container'>
      <div class='character-info-container'>
        <div class='character-preview' style="background-image: url({% get_static_prefix %}images/char-structures/{{ character.structure }}.svg)">
          <p class='character character-kai character-large'>
            {{ character.chinese }}
          </p>
          <div class='character-stroke-image' style="background-image: url(/media/{{ character.stroke_order_image }})"></div>
        </div>
        <div class='definitions-container'>
          <h2>Definitions</h2>
          <ol class='character-definitions-list'>
            <li class='character-definition'>(<i>{{ character.part_of_speech_1.strip }}</i>) {{ character.definition_1 }}</li>
            {% if character.definition_2 %}
              <li class='character-definition'>(<i>{{ character.part_of_speech_2.strip }}</i>) {{ character.definition_2 }}</li>
            {% endif %}
            {% if character.definition_3 %}
              <li class='character-definition'>(<i>{{ character.part_of_speech_3.strip }}</i>) {{ character.definition_3 }}</li>
            {% endif %}
          </ol>
        </div>
        <div class='examples-container'>
          <h2>Examples</h2>
          <p>{{ character.get_example_sentence|safe }}</p>
          {% with example_2_sentence=character.get_example_2_sentence %}
            {% if example_2_sentence %}
              <p>{{ example_2_sentence|safe }}</p>
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <div class='character-radicals-container'>
        <h2>Radicals</h2>
        <div class='radicals-breakdown-container'>
          {% for radical in radicals %}
            {% if radical %}
              <div class='radical-container'>
                <p class='radical-pinyin'>{{ radical.pinyin }}</p>
                <p class='radical-title'>{{ radical.chinese }}</p>
                <p class='radical-definition'>{{ radical.definition }}</p>
                <div class='radical-pictograph'
                     style='background-image: url({{ radical.mnemonic_image.url }})'></div>
                <p class='radical-caption'>{{ radical.mnemonic_explanation }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <p class='breakdown-caption'>{{ character.mnemonic_explanation | linebreaks }}</p>
      </div>
    </div>

  </div>

  <div class='modal fade' id='report-bug-modal' tabindex='-1' role='dialog'
       aria-labelledby='report-bug-label'
       aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Report an Entry</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <form method='POST' id='report-bug-form' action='{% url "report" %}' target='_blank'>
            {% csrf_token %}
            <input type='hidden' name='origin' value='{{ character }}'>
            <div class='form-group'>
              <label for='categrories'>Which section doesn&rsquo;t make sense?</label>
              <select class='form-control' name='description_1'>
                <option>Character Definition</option>
                <option>Character Pronunciation</option>
                <option>Stroke Order of the Character</option>
                <option>Example Words</option>
                <option>Radical Definition</option>
                <option>Radical Pictures</option>
                <option>The explanation for how the radical(s) relates to this character</option>
                <option>Other</option>
              </select>
            </div>
            <div class='form-group'>
              <label for='message-text' class='col-form-label'>Explanation</label>
              <textarea class='form-control' id='message-text' rows='6'
                        name="description_2"></textarea>
            </div>
          </form>
        </div>
        <div class='modal-footer'>
          <button type='submit' form='report-bug-form' class='btn btn-primary'>Send</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
