{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href={% static "css/manage.css" %}>
    <script type="text/javascript" src="{% static "js/manage_stack.js" %}"></script>
{% endblock %}
{% block content %}
    <div style="padding-left:5vw;">
        <div style="display: inline-block;width: 20vw;">
            <a href="{% url 'index' %}">
                <img src="{% static "images/manage_stack/home.png" %}" style="width:3vw;vertical-align: middle">
                <span style="color: #B62C25; vertical-align:middle;font-weight: bold">Home</span>
            </a>
            <div id="add_new_set_button" class="category" style="cursor: pointer; background-color: #716f6f;">
                <span class="name" style="min-width: 15vw">Add New Set</span>
            </div>
            <div id='stack_left' style="overflow-y: scroll;height: 30vw;">
                {#to be populated in manage_stack_left#}
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm_character_delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form id="confirm_character_delete_form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="delete_user_character_pk" name="delete_user_character_pk" value="-1">
                    <input type="hidden" id="delete_user_character_tag_pk" name="delete_user_character_tag_pk" value="-1">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete this character from this set?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="delete_character_from_library" name="delete_character_from_library" value="1">
                            <label class="custom-control-label" for="delete_character_from_library">Also delete it from my learning library</label>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_set_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form id="add_new_set_form" method="POST">
                    {% csrf_token %}
                    <!-- Modal Header -->

                    <div class="modal-header">
                        <h4 class="modal-title">Add from existing sets</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}