{% load static %}
{% for tag in request.user.user_character_tags.all %}
    <div class="category">
        <div class="name">{{ tag.name }}</div>
        <span style="font-size: 2vw; display:inline-block; width:2vw; vertical-align: middle" class="tag_expand_button" data-tag_pk="{{ tag.pk }}">+</span>
{#        <img src="{% static "images/manage_stack/more.png" %}" style="display:inline-block;width:1vw; vertical-align: middle;"#}
{#             class="tag_more_button" data-tag_pk="{{ tag.pk }}">#}
        <div class="tag_more_content" data-tag_pk="tag_more_content_{{ tag.pk }}">
        </div>
        <table class="tag_expand_content" data-tag_pk="{{ tag.pk }}">
            {% for user_character in tag.user_characters.all %}
                <tr class="user_character" data-user_character_pk="{{ user_character.pk }}" data-tag_pk="{{ tag.pk }}">
                    <td><img src="{{ user_character.character.small_color_coded.url }}" class=small-pic></td>
                    <td><span class="pinyin">{{ user_character.character.pinyin }}</span></td>
                    <td><span class="character">{{ user_character.character.definition_1 }}</span></td>
                    <td style="padding-left: 1vw;">
                       <img src="{% static "images/manage_stack/delete.png" %}" style="padding-right:0.5vw; width: 1.5vw; vertical-align: middle; float: right; cursor: pointer;"
                            class="delete_character" data-user_character_pk="{{ user_character.pk }}" data-tag_pk="{{ tag.pk }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}