{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href={% static "css/manage.css" %}>
    <link rel="stylesheet" type="text/css" href="{% static "css/learning_character.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/learning_character.css" %}">
    <script type="text/javascript" src="{% static "js/manage_stack.js" %}"></script>
{% endblock %}
{% block content %}
    <div style="height: 100%; width: 100%; horiz-align: center; display: table;">
        <div style="padding-left:4vw; display: table-cell; width: 26%; height: 35vw;">
            <a href="{% url 'index' %}">
                <div style="padding-top:1vw; padding-bottom: 1vw"> <img src="{% static "images/manage_stack/home.png" %}" style="width:3vw;vertical-align: middle">
                <span style="color: #B62C25; vertical-align:middle;font-weight: bold;">Return to study</span></div>
            </a>
            <div id="add_new_set_button" class="category" style="cursor: pointer; background-color: #716f6f;">
                <span class="name" style="min-width: 15vw">Add New Set</span>
            </div>

            <div id='stack_left' style="height: 85%; overflow-y: scroll;">
                <img src="{% static 'images/loading.gif' %}" id="loading_left">
                {#to be populated in manage_stack_left#}
            </div>
        </div>
        <div style="display: table-cell; width:73%; height: 35vw; padding-right:4vw;" id="stack_right">
            <img src="{% static 'images/loading.gif' %}" id="loading_right"  style="transform: scale(0.5); zoom: 0.5;">
            {#to be populated in manage_stack_right#}
        </div>
    </div>

    <div class="modal fade" id="confirm_character_delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form id="confirm_character_delete_form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="delete_user_character_pk" name="delete_user_character_pk" value="-1">
                    <input type="hidden" id="delete_user_character_tag_pk" name="delete_user_character_tag_pk" value="-1">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Delete this character from this set?</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="delete_character_from_library" name="delete_character_from_library" value="1">
                            <label class="custom-control-label" for="delete_character_from_library">Also delete it from my learning library</label>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_set_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <form id="add_new_set_form" method="POST">
                    {% csrf_token %}
                    <!-- Modal Header -->

                    <div class="modal-header">
                        <h4 class="modal-title">Add from existing sets</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}