<!DOCTYPE html>
<html>
<head>
	<title>Jiezi</title>
	<link rel="stylesheet" type="text/css" href="css/basic.css" >
	<link rel="stylesheet" type="text/css" href="css/manage.css" >
</head>

<body>

	<div class="header">
		<img src="images/logo.png" style="padding-left: 3vw; height: 4vw;vertical-align: middle">
		<span style="font-size: 36px;color:#000000;vertical-align: middle;margin-left: 1vw;letter-spacing: 2px">Solv</span><span style="font-size: 36px;color:#B62C25;vertical-align: middle;letter-spacing: 2px">ed</span>
		<span style="vertical-align: middle; margin-left: 65vw">Log in</span>
		<span style="background-color: #B62C25;color: white; margin-left:3vw; padding:13px 13px 13px 13px;vertical-align: middle;">Sign up</span>
	</div>
	
	<div style="padding-left:5vw;">
		<div style="display: inline-block;width: 20vw;">
			<img src="images/home.png" style="width:3vw;vertical-align: middle">
			<span style="color: #B62C25; vertical-align:middle;font-weight: bold">Home</span>
			<div class="cato">
				<span class="name" style="min-width: 15vw">Add New</span> 
				<img src="images/add.png" style="display:inline-block;width:2vw; vertical-align: middle">
			</div>
			<div style="overflow-y: scroll;height: 30vw">
				<div class="cato">
					<div class="name">Color</div>
					<img src="images/expand.png" class="expandbtn" style="display:inline-block;width:2vw; vertical-align: middle">
					<img src="images/more.png"  onclick="more()" style="display:inline-block;width:1vw; vertical-align: middle;" class="morebtn">
					<div id="moreId" class="more-content">
						<a href ="https://www.google.com/">Delete</a>
						<a>Move</a>
					</div>
					<div class="expand-content">
						<a>
							<img src="images/he.png" class=small-pic>
							<span class="pinyin">zì</span>
							<div class="character">symbol</div>
							<img src="images/more_black.png" style="width: 1vw;vertical-align: middle;float: right">
						</a>
						<a>
							<img src="images/he.png" class=small-pic>
							<span class="pinyin">zì</span>
							<div class="character">symbol</div>
							<img src="images/more_black.png" style="width: 1vw;vertical-align: middle;float: right">
						</a>
					</div>
					
				</div>

				<div class="cato">
					<div class="name">Common</div>
					<img src="images/expand.png" class="expandbtn">
					<img src="images/more.png" class="morebtn">
					<div id="moreId" class="more-content">
						<a href ="https://www.google.com/">Delete</a>
						<a>Move</a>
					</div>
					<div class="expand-content">
						<a>
							<img src="images/he.png" class=small-pic>
							<span class="pinyin">zì</span>
							<div class="character">symbol</div>
							<img src="images/more_black.png" class=morebtn style="float: right">
							<div id="moreId" class="more-content">
							<a href ="https://www.google.com/">Delete</a>
							<a>Move</a>
							</div>
						</a>
					
						<a>
							<img src="images/he.png" class=small-pic>
							<span class="pinyin">zì</span>
							<div class="character">symbol</div>
							<img src="images/more_black.png" class="morebtn" style="float:right">
							<div id="moreId" class="morebtn">
						</a>
						
					</div>
					</div>
					
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div><div class="cato">
					lienarning 
				</div><div class="cato">
					lienarning 
				</div>
				<div class="cato">
					lienarning 
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<img src="images/logo.png" style="padding-left: 3vw; height: 4vw;vertical-align: middle">
		<span style="font-size: 36px;color:#000000;vertical-align: middle;margin-left: 1vw;letter-spacing: 2px">
		Solv</span><span style="font-size: 36px;color:#B62C25;vertical-align: middle;letter-spacing: 2px">ed</span>
		<span style="vertical-align: middle; margin-left: 26vw">About Us</span><img src="images/seperater.png" class=seperater>
		<span style="vertical-align: middle">The Science Behind</span><img src="images/seperater.png" class=seperater>
		<span style="vertical-align: middle">Help</span><img src="images/seperater.png" class=seperater>
		<span style="vertical-align: middle;">Support Us</span><img src="images/seperater.png" class=seperater style="padding-right: 1vw">
		<img src="images/mail.png" style="vertical-align: middle; width: 2vw; margin-right: 1vw">
		<span style="font-size: 10px; vertical-align: middle"> &copy; 2019 Solved</span>
	</div>
	
	<script>
var morebtn = document.getElementsByClassName("morebtn");
var i;

for (i = 0; i < morebtn.length; i++) {
  morebtn[i].addEventListener("click", function() {
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}

var expandbtn = document.getElementsByClassName("expandbtn");

for (i = 0; i < expandbtn.length; i++) {
  expandbtn[i].addEventListener("click", function() {
  var dropdownContent = this.nextElementSibling.nextElementSibling.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}



</script>
</body>
</html>
