{# TODO this page needs rework and beautification #}
{% extends "base.html" %}
{% load static %}

{% block title %}Reviewing | Solved Chinese{% endblock title %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/character.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "styles/review.css" %}">
{% endblock css %}

{% block content %}
  <div id='page-content-container'>
    <div>
      <div id='big-question-text'>
        {{ question|safe }}
      </div>

      <br>

      <div class='answers-container'>
        ___ should be filled with character
        <input type='text' id='user_input' value='' maxlength='1' autofocus>
      </div>

      <br>
      <input type='submit' class='button button-primary' id='submit-button'
               value='Submit'>

      <div id='response_div'>

      </div>

      <form method='get' id='get_form'>
        {% csrf_token %}
        <input type='submit' class='button button-primary' id='next-button' value='Next'
               style='display: none;'>
      </form>
    </div>

  </div>
{% endblock %}

{% block js %}
  <script>
      window.onload = function () {
          document.getElementById("audio").play();
      }

      let is_submitted = false;

      function check_answer() {
          if (is_submitted)
              return;
          is_submitted = true;
          $("#user_input").prop("disabled", true);
          $("#submit-button").hide();
          user_answer = $("#user_input").val();
          $.post('.', {"user_answer": user_answer}, response => {
              correct = response.correct_answer;
              if (correct != user_answer) {
                  $('#response_div').append(`wrong, answer is ${correct}`);
              } else {
                  $('#response_div').append('correct');
              }
              $('#next-button').show();
              $('#next-button').focus();
          })
      }

      $("#submit-button").click(function () {
          check_answer();
      });

      $("#user_input").keypress(function (e) {
          let keycode = (e.keyCode ? e.keyCode : e.which);
          if (keycode === 13) {
              check_answer();
          }
      });

  </script>
{% endblock js %}
