<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
  {% block content %}{% endblock content %}

  <br><br>
  <div style="color:#909090;font-family:Arial Narrow;font-size:12px">
    ------------------
  </div>
  <font size="2" face="KaiTi, STKaiti" color="#800000">
    “解，判也，从刀判牛角。”&nbsp; ——《说文解字》
  </font>
  <div>
    <div>
      <font size="2" face="Times New Roman" color="#800000">
        Solve Chinese characters like riddles.
      </font>
    </div>
    <div>
      <span style="font-size: small;">
        <font style="" face="Times New Roman" color="#800000">
          Intuitive, fun, and culturally meaningful.
        </font>
      </span>
    </div>
  </div>
  <div>
    <img src="https://solvedchinese.org/static/images/logo_email.png">
  </div>
</body>

</html>






