<!-- TODO: change this file to what it actually should be -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

  <link async rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1"
        crossorigin="anonymous">

  <!--jquery-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Temporary Bootstrap reference -->
  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static "styles/main.css" %}">
  
  {% block css %}{% endblock css %}

  {% block external-lib %}{% endblock external-lib %}

  <title>{% block title %}Solved Chinese{% endblock title %}</title>
</head>

<body>
<header class="full-width-bg-container" id="navbar-bg">
  <div class="card-container" id="navbar-container">
    <div class="main-content-container" id="navbar">
      <a class="logo" href="{% url "index" %}"></a>
      <div class="search-form-wrapper">
        <div class="search-input-wrapper">
          <i class="far fa-search search-icon"></i>
          <input type="text" name="keyword" placeholder="Search Dictionary">
        </div>
        <div id="search-dropdown-wrapper">
        </div>
      </div>
      {% if user.is_authenticated %}
        <button class="button button-primary dropdown-toggle" id="userDropdown"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" href="{% url "profile" %}">
          {{ user.get_display_name }}
          {% if user.unread_message_count %}
            <span class="badge badge-pill badge-danger">{{ user.unread_message_count }}</span>
          {% endif %}
        </button>
        <div class="dropdown-menu">
          {% if user.is_staff %}
            <a class="dropdown-item" href="{% url "staff_panel" %}">Staff Panel</a>
            <a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a>
          {% endif %}
          <a class="dropdown-item" href='{% url 'message_list' %}'>
            Inbox
            {% if user.unread_message_count %}
              <span class="badge badge-pill badge-danger">{{ user.unread_message_count }}</span>
            {% endif %}
          </a>
          <a class="dropdown-item" href="{% url "change_password" %}">Change Password</a>
          <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
          <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
        </div>
      {% else %}
        <a class="button button-text-only" href="{% url "login" %}">Login</a>
        <a class="button button-primary" href="{% url "student_signup" %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</header>

<div class="main-content-container" id="page-container">
  {% block content %}{% endblock content %}
</div>

<footer class="full-width-bg-container" id="footer-bg">
  <div class="main-content-container" id="footer">
    <span id="copyright-info">Solved Chinese &copy; 2019&ndash;2020.</span>
    <div id="footer-icon-container">
      <a href="https://github.com/solved-chinese" class="footer-icon"><i class="fab fa-github"></i></a>
      &nbsp;&nbsp;&nbsp;
      <a href="{% url "about_us" %}" class="footer-icon">About</a>
    </div>
  </div>
</footer>

</body>

{% csrf_token %}

<script src="{% static "scripts/main.js" %}"></script>

{% block js %}
{% endblock js %}

</html>
