{% load static %}

{% block breadcrumbs %}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock meta %}

  <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

  <link async rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1"
        crossorigin="anonymous">

  <!--jquery-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- Temporary Bootstrap reference -->
  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.typekit.net/fiy6cyf.css">
  <link rel="stylesheet" href="{% static "styles/main.css" %}?v=0.1.0">
  
  {% block css %}{% endblock css %}

  {% block external-lib %}{% endblock external-lib %}

  <title>{% block title %}Solved Chinese{% endblock title %}</title>
</head>

<body>
<header class="full-width-bg-container" id="navbar-bg">
  <div class="card-container" id="navbar-container">
    <div class="main-content-container" id="main-navbar">
      <a class="logo navbar-item" href="{% url "index" %}"></a>
{#      <div class="navbar-item" id="search-form">#}
{#        <div class="search-form-wrapper">#}
{#          <div class="search-input-wrapper">#}
{#            <i class="far fa-search search-icon"></i>#}
{#            <input type="text" name="keyword" id="search-input" size="10" placeholder="">#}
{#          </div>#}
{#          <ul id="search-dropdown-wrapper">#}
{#          </ul>#}
{#        </div>#}
{#      </div>#}
      {% if user.is_authenticated %}

        <a class="navbar-item button button-primary" id="menu-toggle"
           href="javascript:void(0);" onclick="mobileMenuToggle()">
          <i class="far fa-bars"></i>
        </a>
        <div class="navbar-item" id="menu">
          <a class="button button-primary dropdown-toggle" id="userDropdown"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" href="{% url "profile" %}">
            {{ user.display_name }}
          </a>
          <a class="info-responsive" href="javascript:void(0)">
            Signed in as {{ user.display_name }}
            {% if user.is_staff %}
            &nbsp(Staff)
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            {% if user.is_staff %}
              <a class="dropdown-item" href="{% url "admin:index" %}">Django Admin</a>
            {% endif %}
              <a class="dropdown-item" href="{% url "change_password" %}">Change Password</a>
              <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
              <a class="dropdown-item" href="{% url "logout" %}">Logout</a>
          </div>
        </div>

      {% else %}

        <a class="navbar-item button button-primary" id="menu-toggle"
        href="javascript:void(0);" onclick="mobileMenuToggle()">
          <i class="far fa-bars"></i>
        </a>
        <div class="navbar-item" id="menu">
          <a class="button button-text-only" href="{% url "login" %}">Login</a>
          <a class="button button-primary" href="{% url "signup" %}">Sign Up</a>
        </div>

      {% endif %}
    </div>
  </div>
</header>

<div class="main-content-container" id="page-container">
  <div class="page-overlay" onclick="closeMobileMenu()"></div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% block breadcrumbs_display %}
    {% load django_bootstrap_breadcrumbs %}
    {% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
  {% endblock breadcrumbs_display %}
  {% block content %}{% endblock content %}
</div>

<footer class="full-width-bg-container" id="footer-bg">
  <div id="footer">
    <span id="copyright-info">Solved Chinese &copy; 2019&ndash;2021.</span>
    <div id="footer-icon-container">
      <a href="https://github.com/solved-chinese" class="footer-icon"><i class="fab fa-github"></i></a>
      &nbsp;&nbsp;&nbsp;
      <a href="{% url "about_us" %}" class="footer-icon">About</a>
    </div>
  </div>
</footer>

</body>

{% csrf_token %}

<script src="{% static "scripts/main.js" %}"></script>

{% block js %}
{% endblock js %}

</html>
