{% extends "base.html" %}
{% load static %}

{% block title %}The Science Behind{% endblock title %}

{% block content %}

    <table style="margin: 0 auto; text-align:left; table-layout:fixed">
        <tr>
            <td class="history-update" style="width:15%">
                <div class="cato-update"><a href="{% url 'about_us' %}">About Us</a></div>
                <hr>
                <div class="cato-update"><a href="{% url 'the_science_behind' %}">The Science Behind</a></div>
                <hr>
                <div class="cato-update"><a href="{% url 'help' %}">Help</a></div>
                <hr>
                <div class="cato-update"> Support Us</div>
            </td>
            <td class="content-update" valign="top">

    <div style="color:#4D4D4D; border-left: 50px solid #ffff; font-size:4vw">The Science Behind</div><br>
                <div style="color:#B62C25; border-left: 50px solid #ffff; font-size:2vw"> Suggested Mnemonics</div> <br>
                <div style="border-left: 50px solid #ffff;"> Generally speaking, we believe that characters should be memorized using the mnemonics that are built into the characters themselves from their origins, rather than via modern day inventions. However, there are some instances where there is no consensus on the true origin of a character and multiple theories abound. In those cases, we have chosen what we believe the most likely origin as the main classification but may also list alternative interpretations under Suggested Mnemonics, especially when the alternate interpretation is more suitable to the modern meaning and form of the character. </div>

            </td>
        </tr>
    </table>
    <br>
{% endblock%}


