{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div id='info-message'>
    This shows the current media update task. Only one task is allowed to run at a time.
    If you wish to start a new task, kill this task first.
  </div>
  <a class='button button-primary' href='{% url 'kill_task'%}'>
    Kill
  </a>

  <div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
  </div>

  <div id="progress-bar-message"></div>

  <div id="custom-message">Waiting for progress to start...</div>


  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    function processProgress(progressBarElement, progressBarMessageElement, progress) {
			progressBarElement.style.width = progress.percent + "%";
			customMessage = document.getElementById('custom-message');
			var description = progress.description || "downloading";
			description = progress.percent + "%:" + progress.current + ' of ' +
			  progress.total + ' processed. <br>' + description
			customMessage.innerHTML = description;
		}

    $(function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl, {onProgress: processProgress})
    });
  </script>
{% endblock content %}
