<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .column {
          float: left;
          width: 50%;
        }
    </style>
</head>
<body>
    <div class="column">
        Radicals<br>
        {% for item in radicals %}
            {{ item|safe }}
        {% endfor %}
    </div>

    <div class="column">
        Characters<br>
        {% for item in characters %}
            {{ item|safe }}
        {% endfor %}
    </div>
</body>
</html>