<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry Update Report</title>
    <style>
        .column {
            float: left;
            width: 33%;
            max-width: 33%;
            overflow-wrap: anywhere;
        }
    </style>
</head>
<body>
    <div class="column">
        Radicals<br>
        {% for item in radicals %}
            {{ item|safe }}
        {% endfor %}
    </div>

    <div class="column">
        Characters<br>
        {% for item in characters %}
            {{ item|safe }}
        {% endfor %}
    </div>

    <div class="column">
        Character Sets<br>
        {% for item in character_sets %}
            {{ item|safe }}
        {% endfor %}
    </div>
</body>
</html>