{% extends "base.html" %}

{% block content %}

  <h1>{{ object.name }}</h1>
  <p>
    To add students to this class, have your students open this link:
    <a href='{{ request.scheme }}://{{ request.get_host }}{% url 'join_class' object.uuid.hex %}'>
      {{ request.scheme }}://{{ request.get_host }}{% url 'join_class' object.uuid.hex %}
    </a>
  </p>
  <p>#students: {{ object.student_count }}</p>

  <ul>
    {% for student in object.students.all %}
      <li>{{ student.display_name }}</li>
    {% empty %}
      <li>You don't have any students in this yet.</li>
    {% endfor %}
  </ul>

{% endblock content %}
