{% extends "base.html" %}

{% block content %}

  <a href="{% url 'create_class' %}">Create Class</a>
  <br>

  <h1>Your Classes</h1>

  {% if not object_list %}
    You don't have any class yet. Create one with the button above.
  {% else %}
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>NumStudents</th>
      </tr>
      {% for class in object_list %}
        <tr>
          <td><a href="{% url 'class_detail' class.pk %}">{{ class.name }}</a></td>
          <td>{{ class.student_count }}</td>
        </tr>
      {% endfor %}
  </table>
  {% endif %}
{% endblock content %}
