{% extends "base.html" %}

{% block content %}

  <a href="{% url 'create_class' %}">Create Class</a>
  <br>

  <h1>Your Classes</h1>

  {% if not object_list %}
    You don't have any class yet. Create one with the button above.
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">NumStudents</th>
          <th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        {% for class in object_list %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'class_detail' class.pk %}">{{ class.name }}</a></td>
            <td>{{ class.student_count }}</td>
            <td>
              <form action="{% url 'delete_class'%}" method="post">
                {% csrf_token %}
                <input type='hidden' name='class_pk' value='{{ class.pk }}'>
                <input type="submit" value="delete"
                       onclick="return confirm('Are you sure you want to permanently delete this class?');">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock content %}
