@font-face {
    font-family: "overpass";
    src: url("fonts/overpass-regular.otf");
}
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

html, body {
    font-family: "overpass";
    font-size: 20px;
    color: #3F3F3F;
    height: 100%;
}

.header {
    position: relative;
    text-align: left;
    background-color: #E7E8E9;
    font-size: 13px;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    letter-spacing: 1px;
}

.footer {
    position: relative;
    text-align: left;
    background-color: #E7E8E9;
    font-size: 13px;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    letter-spacing: 1px;
}

.seperater {
    width: 10px;
    vertical-align: middle;
    padding-left: 2vw;
    padding-right: 2vw;
}

