.title {
    padding-left: 3vw;
    font-size: 2.5vw;
    color: black;
}

.stack-button {
    display: inline;
    padding: 0.5vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    color: black;
    background-color: #E7E8E9;
}

.overview {
    padding-left: 7vw;
    padding-right: 7vw;
    width: 100vw;
    height: 10vw;
}

.time-overview {
    display: inline;
    max-width: 20vw;
    background-color: #E7E8E9;
    padding: 2vw;
    border-radius: 0.1vw;
    margin-right: 2vw;
    font-size: 1.7vw;
    vertical-align: middle;
    text-align: center;

}

.time-detail {
    display: inline;
    width: 20vw;
    word-wrap: break-word;
    background-color: #E7E8E9;
    padding: 2vw;
    border-radius: 0.1vw;
    font-size: 1.7vw;
     margin-right: 2vw;
    vertical-align: middle;
    text-align: center;
}
.last-time {
    display: inline;
    width: 30vw;
    background-color: #E7E8E9;
    padding: 2vw;
    border-radius: 0.1vw;
    font-size: 1.7vw;

    vertical-align: middle;
    text-align: center;
}

.study-time {
    margin-left: 7vw;
    margin-right: 7vw;
    width: 86vw;
    height: 25vw;
    background-color: #E7E8E9;
    text-align: center;
}

.button {
    background-color: #B62C25;
    border: none;
    color: white;
    padding: 1vw 3vw;
    text-align: center;
    font-size: 1.5vw;
    margin: 0vw 1vw 0vw 1vw;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.content-update {
    width: 45%;
    padding-right: 10vw;
    font-size: 1.5vw;
    padding-bottom: 5.2vw;
    vertical-align: top;
}

.history-update {
    width: 15%;
    padding-left: 5vw;
    padding-right: 3vw;
    font-size: 1.5vw;
    vertical-align: top;
}


.title-update {
    color: #5E5E5E;
    padding-top: 4vw;
    text-align: center;
    font-size: 4vw;
}

.cato-update {
    color: #5E5E5E;
}

hr {
    border: 1px solid #EEEEEE;
}

