.interface-seperator{
   width:25px;
   vertical-align: middle;
   padding: 0vw 1vw 0vw 1vw;
}
.letter{
    padding-left: 3vw;
    font-size: 50px;
    vertical-align: middle;
}
.audio{
    width:50px;
    vertical-align: middle;
    padding-right: 1vw;
}
.pinyin{
    min-width:4vw;
    max-width: 9vw;
    word-wrap: break-word;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}
.def-table{
    display: inline-table;
    vertical-align: middle;
    max-width: 36vw;
    min-width: 36vw;
}
.def1{
    word-wrap: break-word;
    font-size: 15px;
    font-weight: bold;
}
.def2{
    word-wrap: break-word;
    font-size: 15px;
    color: #716f6f;
}
.buttons{
    display: inline;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    background-color: #E7E8E9;
}
.clock{
    width: 60px;
    vertical-align: middle;
}
.next{
    display: inline;
    width: 7vw;
    vertical-align: middle;
}
.big-pic{
    width:35vw;
    background-color: #E7E8E9;

}
.example{
    margin-top: 2vw;
    margin-bottom:2vw;
    padding:2vw;
    background-color: #E7E8E9;
    color: black;
    vertical-align: middle;
}
.mnemotics{
    /*display: table-cell;*/
    min-width: 56vw;
    max-width: 56vw;
    min-height: 46vw;

    background-color: #E7E8E9;
    text-align: center;
}
.big-pic-div{
    width: 35vw;
    position: relative;
    display: inline-block;
}
.img-top{
    width: 35vw;
}
.big-pic-div .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.big-pic-div:hover .img-top {
    display: inline;
}
