.interface-seperator{
   width:3.3%;
   vertical-align: middle;
   padding: 0vw 1% 0vw 1%;
}
.letter{
    padding-left: 5%;
    font-size: 170%;
    vertical-align: middle;
}
.audio{
    width:5%;
    vertical-align: middle;
    padding-right: 1vw;
    cursor: pointer;
}
.pinyin{
    min-width:4%;
    max-width: 9%;
    word-wrap: break-word;
    font-size: 140%;
    display: inline-block;
    vertical-align: middle;
}
.def-table{
    display: inline-table;
    vertical-align: middle;
    width: 38%;
}
.def1{
    display: inline-block;
    word-wrap: break-word;
    font-size: 100%;
    margin-right:5vw;
}
.buttons{
    display: inline;
    padding: 0.5vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    border-radius: 0.5vw;
    font-size: 100%;
    color: black;
    background-color: #E7E8E9;
}
.clock{
    width: 3.1%;
    vertical-align: middle;
}
.next{
    display: inline;
    width: 5%;
    vertical-align: middle;
}
.big-pic{
    width:100%;
    background-color: #E7E8E9;

}
.example{
    margin-top: 2%;
    margin-bottom:2%;
    padding:1.8%;
    font-size: 70%;
    background-color: #E7E8E9;
    color: black;
}
.example-explain{
    font-size:1vw;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw
}
.mnemotics{
    /*display: table-cell;*/
    width: 100%;
    height: 98%;
    background-color: #E7E8E9;
    text-align: center;
}
.big-pic-div{
    width: 100%;
    position: relative;
    display: inline-block;
}
.img-top{
    width: 100%;
}
.big-pic-div .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.big-pic-div:hover .img-top {
    display: inline;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #1F1F1F;
}