.category {
    background: #c9c7c6;
    color: white;
    margin: 0.4vw 0;
    font-size: 1.5vw;
    position: relative;
}

.name {
    display: inline-block;
    padding: 0.3vw 0.6vw;
    min-width: 15vw;
    max-width: 15vw;
}

.scroll {
    display: inline-block;
    width: 20vw;
    height: 30vw;
    overflow-y: scroll;
}

.tag_more_button {
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 1vw;
    vertical-align: middle;
}

.tag_more_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 6vw;
    font-size: 1vw;
    overflow: auto;
    top: -0.5vw;
    right: 3vw;
    box-shadow: 0px 0.4vw 0.8vw 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tag_more_content a {
    color: black;
    padding: 0.5vw 1vw;
    text-decoration: none;
    display: block;
}

.tag_more_content a:hover {
    background-color: #B62C25;
}

/*.showMore {display: block;}*/

.tag_expand_button {
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 2vw;
    vertical-align: middle;
    font-size: 2.5vw;
}

.tag_expand_content {
    width: 100%;
    display: none;
    font-size: 1.5vw;
    background-color: #E7E8E9;
    z-index: 1;
}

.small-pic {
    width: 2vw;
    vertical-align: middle;
}

.small-pinyin {
    font-size: 0.5vw;
    color: black;
}

.definition {
    /*display: inline-block;*/
    color: black;
    font-size: 1.1vw;
    padding-left: 0.3vw;
    font-weight: bold;
}