.review-question{
    padding-left: 3vw;
    font-size: 3vw;
}
.answers{
    margin-top: 1vw;
    margin-left: 3vw; 
    margin-right: 3vw; 
    width:94vw;
    height:40vw;
    background-color: #E7E8E9;
    text-align: center; 
}
.button {
    background-color: white;
    border:none;
    border-radius: 0.7vw; 
    color: black;
    padding: 1vw 3vw;
    text-align: center;
    font-size:1.5vw;
    margin: 0vw 1vw 0vw 1vw;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.buttons{
    display: inline;
    padding: 0.5vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    border-radius: 10px;
    font-size: 1.5vw;
    color: black;
    background-color: #E7E8E9;
    vertical-align: middle;
}
.clock{
    display: inline;
    width: 4vw;
    vertical-align: middle;
}
.next{
    display: inline;
    width: 5vw;
    vertical-align: middle;
}