/***********************************
  Variable Declarations
***********************************/

:root {
    --main-theme-color: #be132d;
    --secondary-color: #888;
    --tertiary-color: #ccc;
    --navbar-color: #fffefc;
}



/***********************************
  Base Styles
***********************************/

* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #040302;
}

html {
    background: #fafafa;
}

body {
    position: relative;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.fas, .far, .fal, .fab {
    color: inherit;
}



/***********************************
  Containers
***********************************/

.main-content-container {
    width: calc(100% - 60px);
    max-width: 1200px;
    margin: 0 auto;
}

.full-width-bg-container {
    width: 100%;
    background: var(--navbar-color);
    z-index: 100;
}

.card-container {
    margin-top: 60px;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 4px 5px 14px 0px rgba(4, 3, 2, 0.1);
    transition: 150ms ease;
}

.card-container:hover {
    box-shadow: 1px 2px 8px 0px rgba(4, 3, 2, 0.12);
}

#page-container {
    padding-top: calc(80px + 60px);
    padding-bottom: 80px;
}



/***********************************
  Header
***********************************/

#navbar-bg {
    position: fixed;
    top: 0px;
}

#navbar-container {
    margin-top: 0;
    padding: 0;
    border-radius: 0;
}

#navbar {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}

#navbar > .logo {
    width: 108.121875px; /* There definitely exists a better way */
    height: 38px;
    background-image: url('/static/images/logo-color-full.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    cursor: pointer;
}

#navbar > .username {
    font-weight: 500;
}

#navbar a {
    text-decoration: none;
}

#signup {
    background-color: var(--main-theme-color);
    height:50%;
    width:100px;
    border-radius: 10px;
}

#signup a {
    display: flex;
    justify-content: center;
    padding: 7px;
    color: white;
}

#login {
    margin-right: 20px;
    color: black;
}

#userDropdown {
    background-color: var(--main-theme-color);
    color: white;
    width: 11%;
    min-width: 110px;
}

/***********************************
  Footer
***********************************/

#footer-bg {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #e8e8e8;
}

#footer {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    padding-top: 10px;
}

#footer p {
    color: #8E9DAE;
    margin: auto;
    font-size: 0.8em;
    letter-spacing: 1px;
}

.footer-icon {
    height: 1em;
    margin-bottom: 20px;
}



/***********************************
  Buttons
***********************************/

.button {
    padding: 0.6em 2em;
    border: 1px solid #040302;
    border-radius: 0.25em;
    background: white;
    white-space: nowrap;
    background: white;
    cursor: pointer;
    transition: 150ms ease;
}

.button.button-primary {
    color: var(--main-theme-color);
    border-color: var(--main-theme-color);
}

.button.button-primary:hover {
    color: white;
    background: var(--main-theme-color);
}

.button.button-secondary:hover {
    color: white;
    background: #040302;
}

.button.button-tertiary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.button.button-tertiary:hover {
    color: white;
    background: var(--secondary-color);
}

.header-back-button {
    position: absolute;
    margin-top: -1.8em;
    color: var(--secondary-color);
    font-weight: 500;
    transition: 150ms ease;
}

.header-back-button:hover {
    /* color: #040302; */
    color: var(--main-theme-color);
}

.header-back-button > i {
    margin-right: 0.4em;
}



/***********************************
  Input Boxes
***********************************/

.input-wrapper {
    position: relative;
}

.input-wrapper::before {
    position: absolute;
    margin: 15px 0 0 15px;
    font-family: 'Font Awesome 5 Pro';
    color: var(--secondary-color);
}

.input-box {
    width: 180px;
    height: 50px;
    padding: 5px 15px 5px 40px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--tertiary-color);
    background: white;
    transition: box-shadow 150ms ease;
}

.input-box:hover {
    box-shadow: 0px 3px 5px 0px rgba(4, 3, 2, 0.07);
}

.input-box:focus {
    outline: none !important;
    box-shadow: 0px 3px 5px 0px rgba(4, 3, 2, 0.07);
}

.input-wrapper.search::before {
    content: '\f002';
}

.input-wrapper.username::before {
    content: '\f007';
}

.input-wrapper.password::before {
    content: '\f023';
}



/***********************************
  Shorthands
***********************************/

.text-highlight {
    color: var(--main-theme-color);
}

.big-question-text {
    font-size: 26px;
    font-weight: 500;
}

/***********************************
  Search-form
***********************************/

.search-form {
    display: flex;
    justify-content: center;
    align-self: flex-start;

    padding: 15px 40px 0;
    height: auto;
    flex-grow: 2;
}

.search-form-wrapper{
    display: flex;
    flex-wrap: wrap;

    width: 70%;
    height: inherit;
    margin: auto;

    background-color: var(--navbar-color);

    border: 1px solid #c7c7c7;
    border-radius: 25px;

}

.search-form-wrapper > img {
    margin: auto;
    padding: 0 15px 0;
    height: 28px;
    width: auto;
}

.search-form-wrapper > input[name="keyword"] {
    height: 50px;
    flex-grow: 2;

    background-color: transparent;
    color: #7c7c7c;
    border: none;
    outline: none;

    font-size: 17px;
}

.search-form-wrapper > input[name="keyword"]::placeholder {
    color: #a7a7a7;
}

#search-dropdown-wrapper {
    display: block;
    width: 100%;
}

#search-dropdown-wrapper > hr {
    margin: 0 auto;
    width: 90%;
    
    border-top: 1px solid #c7c7c7;
}

.search-entry {
    height: 50px;
    width: 95%;
    margin: 5px auto;
    border-radius: 10px;

    transition: 200ms, ease;
}

.search-entry > h4 {
    display: inline-block;

    padding-left: 3%;

    font-size: 30px;
    line-height: inherit;
}

.search-entry > h4 > small {
    color: var(--secondary-color);
    font-size: 0.54em;
    letter-spacing: 1px;

    padding-left: 10px;
}

.search-entry > p {
    display: inline-block;

    margin: 0 0 0 20px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 15px;
}

.search-entry > p span {
    color: var(--secondary-color);
    font-style: italic;
    font-size: 0.9em;
}

.search-entry:hover {
    background-color: #e6e6e6;
    box-shadow: 0 0 5px 5px #e6e6e6;

    transition: 150ms ease;
}

.search-entry-wrapper {
    text-align: left;
}

.error-msg {
    height: 40px;
    margin-top: 10px;

    color: #ce2841;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

/***********************************
  Responsive
***********************************/

@media screen and (max-device-width: 768px) {
    .search-form {
        padding: 0 30px 0;
    }

    .search-form-wrapper {
        width: 100%;
    }
}
