#char-sets-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px 40px;
    margin-top: 40px;
}

.char-set {
    position: relative;
    width: 200px;
    height: 265px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 5px 14px 0px rgba(4, 3, 2, 0.07);
    transition: 150ms ease;
    cursor: pointer;
}

.char-set:hover {
    box-shadow: 1px 2px 8px 0px rgba(4, 3, 2, 0.12);
}

/* .char-set:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
} */

.char-set > .char-set-cover {
    width: 100%;
    margin-bottom: -3px; /* To fix a strange gap: need a better solution */
}

.char-set > .char-set-title {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 65px;
    justify-content: center; /* To center single-line titles */
    text-align: center; /* To center multi-line titles */
}

.char-set > .delete-set-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--secondary-color);
    opacity: 0;
    transition: 150ms ease;
}

.char-set > .delete-set-button:hover {
    color: var(--main-theme-color);
}

.char-set:hover > .delete-set-button {
    opacity: 1;
}

#add-set-button-container {
    box-shadow: none;
    text-align: center;
    cursor: pointer;
}

#add-set-button {
    margin-top: 20px;
    font-size: 160px;
    color: var(--tertiary-color);
    transition: 150ms ease;
}

#add-set-button-container:hover > #add-set-button {
    color: var(--secondary-color);
}



#add-new-set-modal .set-name-container {
    display: flex;
    justify-content: space-between;
}

.set-name-container {
    margin: 20px 0;
}

.list-add-set-button {
    cursor: pointer;
}

.set-name-container.success span {
    color: gray;
}

.set-name-container.success .list-add-set-button {
    color: #2ecc71;
    cursor: default;
}
