#page-content-container {
    display: flex;
}

.delete-set-button {
    margin-left: 10px;
    transform: scale(0.7);
    color: var(--secondary-color);
    cursor: pointer;
    transition: 150ms ease;
}

.delete-set-button:hover {
    color: var(--main-theme-color);
    opacity: 1;
}

.chars-container {
    width: 20%;
    max-height: calc(100vh - 280px);
    overflow: scroll;
    margin-right: 40px;
}


#character-container-wrapper {
    width: 80%;
}

.card-container {
    margin-top: 0;
}

.char {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid var(--tertiary-color);
    cursor: pointer;
    transition: 150ms ease;
}

.char:last-child {
    border: none;
}

.char:hover,
.char.selected {
    background: #f4f3f1;
}

.char > * {
    display: inline;
}

.char-preview {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    margin-right: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.char-pinyin {
    margin: 0 auto 0 20px;
    font-size: 22px;
    line-height: 22px;
}

.delete-char-button {
    margin-right: 10px;
    font-size: 20px;
    color: var(--secondary-color);
    opacity: 0;
    transition: opacity 150ms ease;
}

.char:hover > .delete-char-button {
    opacity: 1;
}

.delete-char-button:hover {
    color: var(--main-theme-color);
}
