#page-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/***********************************
  Question and Answer Buttons
***********************************/

#character-preview {
    display: inline-block;
    margin: 0 5px -10px 5px;
    width: 40px;
    height: 40px;
}

#question-container {
    max-width: 400px;
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-top: 40px;
}

#answers-container > .button {
    margin-bottom: 20px;
}



/***********************************
  Radicals
***********************************/

#character-radicals-container {
    width: 100%;
}
