#page-content-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: calc(50vh - 380px);
}

.big-question-text {
    width: 100%;
    text-align: center;
}

#character-preview {
    display: inline-block;
    width: 42px;
    height: 42px;
    font-size: 42px;
}

#answers-container {
    width: 200px;
    margin: 20px auto 0 auto;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.option.correct {
    color: white !important;
    background: #2ecc71;
    border-color: #27ae60;
    cursor: default;
}

.option.correct:hover {
    background: #2ecc71;
    border-color: #27ae60;
}

.option.wrong {
    color: white !important;
    background: #e74c3c;
    border-color: #c0392b;
    cursor: default;
}

.option.wrong:hover {
    background: #e74c3c;
    border-color: #c0392b;
}

.option.disabled {
    cursor: default;
}

.option.disabled.button-secondary:hover {
    background: white;
    color: #040302 !important;
}

.option.disabled.button-tertiary:hover {
    background: white;
    color: var(--secondary-color) !important;
}

#next-button {
    width: 50%;
    margin: 25px auto;
}