{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
        crossorigin='anonymous'>

  <link rel='stylesheet' href="{% static 'styles/learn.css' %}">
  <link rel='stylesheet' href="{% static 'styles/character.css' %}">
{% endblock css %}

{% block js %}
  <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
          integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
          crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
          integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
          crossorigin='anonymous'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
          integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
          crossorigin='anonymous'></script>
  <!-- probably we need to move this into a seperate file -->
  <script>
      $(document).ready(function () {
          $('#report-bug-form').on('submit', function (e) {
              $('#report-bug-modal').modal('hide');
          });
      });
  </script>

{% endblock js %}

{% block content %}
  <div id='learn-header-container'>
    <h1 id='character-text'>{{ character.chinese }}</h1>
    <span id='character-pinyin'>{{ character.pinyin }}<i class='fas fa-volume'
                                                         id='speak-button'></i></span>
    <!-- we need to think about what the following buttons do -->
    <a class='button button-primary' id='next-button' href='{% url 'display_character' character.pk|add:"1" %}'>Next</a>
    <a class='button button-secondary' href='/vocab.html'>I Know This</a>
    <a class='button button-secondary' id='end-session-button' href='/accounts/dashboard'>End Session</a>
    <button type='button' class='button button-secondary' style='margin-left:3px ' data-toggle='modal'
            data-target='#report-bug-modal'>Report
    </button>
  </div>

  <div class='card-container' id='stats-container'>

    <div class='' id='character-card-container'>
      <div id='character-info-container'>
        <div id='character-preview'
             style='background-image: url({{ character.color_coded_image.url }})'></div>
        <div id='definitions-container'>
          <h2>Definitions</h2>
          <ol class='character-definitions-list'>
            <li class='character-definition'>{{ character.definition_1 }}</li>
            {% if character.definition_2 %}
              <li>{{ character.definition_2 }}</li>
            {% endif %}
            {% if character.definition_3 %}
              <li>{{ character.definition_3 }}</li>
            {% endif %}
          </ol>
        </div>
        <div id='examples-container'>
          <h2>Examples</h2>
          <table id='examples-table'>
            <tr class='example-row'>
              <td>{{ character.example_1_word }}</td>
              <td>{{ character.example_1_pinyin }}</td>
              <td>{{ character.example_1_character }}</td>
              <td>{{ character.example_1_meaning }}</td>
            </tr>
            {% if character.example_2_character %}
              <tr class='example-row'>
                <td>{{ character.example_2_word }}</td>
                <td>{{ character.example_2_pinyin }}</td>
                <td>{{ character.example_2_character }}</td>
                <td>{{ character.example_2_meaning }}</td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <div id='character-radicals-container'>
        <h2>Radicals</h2>
        <div id='radicals-breakdown-container'>
          {% for radical in radicals %}
            {% if radical %}
              <div class='radical-container'>
                <p class='radical-pinyin'>{{ radical.pinyin }}</p>
                <p class='radical-title' style='color: #0F7633'>{{ radical.chinese }}</p>
                <p class='radical-definition'>({{ radical.definition }})</p>
                <div class='radical-pictograph'
                     style='background-image: url({{ radical.mnemonic_image.url }})'></div>
                <p class='radical-caption'>{{ radical.mnemonic_explanation }}</p>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <p class='breakdown-caption'>{{ character.mnemonic_explanation }}</p>
      </div>
    </div>

  </div>

  <div class='modal fade' id='report-bug-modal' tabindex='-1' role='dialog'
       aria-labelledby='report-bug-label'
       aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title'>Report an entry</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <div class='modal-body'>
          <form method='POST' id='report-bug-form' action='{% url "report" %}' target='_blank'>
            {% csrf_token %}
            <input type='hidden' name='origin' value='{{ character }}'>
            <div class='form-group'>
              <label for='categrories'>Which section doesn't make sense?</label>
              <select class='form-control' name='description_1'>
                <option>Character Definition</option>
                <option>Example Words</option>
                <option>Radical Mnemonic Pictures</option>
                <option>Radical Definition</option>
                <option>Radical Breakdown Explanation</option>
                <option>Other</option>
              </select>
            </div>
            <div class='form-group'>
              <label for='message-text' class='col-form-label'>Explanation</label>
              <textarea class='form-control' id='message-text' rows='6'
                        name="description_2"></textarea>
            </div>
          </form>
        </div>
        <div class='modal-footer'>
          <button type='submit' form='report-bug-form' class='btn btn-primary'>Send</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}